.checkmark-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    color: #fff;
    border-radius: 50%;
    background-color: var(--sky-blue);
}
