.shirt-text-options hr {
    border-top: 0.0625rem solid var(--light-grey);
    margin: 0.5rem 0 1rem;
}

.shirt-text-options .form-group label {
    font-size: 0.8125rem;
    color: var(--sky-blue);
    font-weight: 600;
    margin-bottom: 0.75rem;
}
