.shirt-preview {
  max-width: 41.25rem;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1.25rem;
}

.shirt-preview .shirt-assets {
  position: relative;
}

.shirt-preview .shirt-assets img.shirt-image {
  width: 100%;
  height: 100%;
}

.shirt-preview .shirt-assets object {
  max-width: 13rem;
  left: 26%;
  position: absolute;
}

.shirt-preview .shirt-assets .svg-graphic,
.shirt-preview .shirt-assets .shirt-text {
  position: absolute;
  width: 17.5rem;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
}

.shirt-preview .shirt-assets .shirt-text {
  top: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3rem;
}
