.confirmation-container {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.confirmation-title {
  color: #274686;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 30px;
}

.confirmation-shirt-icon {
  display: grid;
  width: 114px;
  height: 114px;
  background-color: #10a2dc;
  justify-self: center;
  align-content: center;
  justify-content: center;
  border-radius: 72px;
  margin-bottom: 30px;
}

.confirmation-shirt-icon .img-fluid {
  width: 79px;
}

.confirmation-container button.primary {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
