.color-picker-container {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.color-picker-title {
  color: #10a2dc;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 15px;
  padding-left: 10px;
}

.color-picker-row {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 !important;
}

.color-div {
  min-width: 65px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  margin: 8px;
}

.color-div.active {
  border: 2px solid #10a2dc;
}

.color-name {
  color: #444444;
  text-shadow: #ffffff 1px 1px 10px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
