.sign-up-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15rem;
}

.tabs-container {
    border-bottom: 0.0625rem solid var(--white);
    width: 100%;
    max-width: 20rem;
    display: flex;
    justify-content: center;
}

form.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    max-width: 20rem;
    padding: 0;
}

form.sign-up p {
    margin: 0;
    font-size: 0.75rem;
}

form.sign-up button {
    margin-top: 1rem;
}

