header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

header .left,
header .right {
  display: flex;
  align-items: center;
}

header .right {
  margin-right: 0.75rem;
}

header .vertical-line {
  border-right: 0.0625rem solid var(--light-grey);
  height: 3rem;
  margin: 0;
}

header button.navigation {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
}

header img.logo {
  max-width: 14rem;
  margin-left: 0.5rem;
}

header button.primary {
  margin-right: 1.25rem;
}

header .shirt-edit-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header .shirt-edit-controls .primary,
header .shirt-edit-controls .form-group {
  margin: 15px;
}
