/* .cart-container {
  max-width: 385px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f0f0f0;
  height: 100%;
} */

.cart-header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.cart-title {
  color: #274686;
  font-size: 26px;
  font-weight: 800;
  margin-right: 35px;
  margin: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.subtotal {
  color: #444444;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  min-width: 157px;
  text-align: right;
}

.subtotal span {
  font-size: 24px;
}

.cart-container button.primary {
  display: block;
  float: right;
}
