.graphic-options {
    max-width: 20rem;
}

.graphic-options hr {
    border-top: 0.0625rem solid var(--light-grey);
    margin-bottom: 1rem;
}

.graphic-options .options-heading {
    margin-bottom: 1rem;
}

.graphic-options .graphics {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;

}

.graphic-options .graphics button.graphic-option {
    width: 3.5rem;
    height: 3.5rem;
    background-color: transparent;
    border-radius: 0.375rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    padding: 0.375rem;
    box-shadow: inset 0 0 0 0.0625rem var(--light-grey);
    position: relative;
}

.graphic-options .graphics button.graphic-option:hover {
    box-shadow: inset 0 0 0 0.125rem var(--sky-blue);
}

.graphic-options .graphics button.graphic-option img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.graphic-options .graphics button.graphic-option .checkmark-icon {
    position: absolute;
    top: 28%;
    left: 28%;
}
