.shirt-wrapper {
  position: relative;
  max-width: 418px;
  padding: 10px;
  margin: 10px;
  border-radius: 15px !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.26) !important;
  background-color: #fff;
}

.shirt-wrapper .text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card-title {
  margin-top: 0.75rem;
  font-size: 18px;
  font-weight: 700;
  color: #10a2dc;
}

.container {
  margin-bottom: 10px;
}

.description {
  font-size: 12px;
  color: #444444;
  margin-bottom: 30px;
}

.btn-row {
  height: 30px;
  justify-content: space-between;
}

.text {
  font-size: 20px;
  color: #444444;
}

.shirt-graphic-img,
.shirt-text-final {
  position: absolute;
}

.shirt-graphic-img {
  left: 27%;
  top: 12%;
  width: 180px;
}

.shirt-text-final {
  left: 34%;
  top: 38%;
  font-size: 25px;
  text-align: center;
  width: 120px;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.controls-container .add-to-cart,
.controls-container .edit {
  width: 16%;
  min-height: 1px;
  max-height: 36px;
}

.controls-container .price {
  font-size: 20px;
  color: #444444;
}

.button-with-icon {
  min-width: 63px;
  min-height: 36;
  background-color: #fff;
  border: none;
}

.controls-container .edit {
  content: url('../../images/icons/icon-edit.svg');
  cursor: pointer;
}
